* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}

/* for background */
body{
    background-image: linear-gradient(rgba(255,255,255,.7), rgba(255, 255, 255, 0.7)),  url('bckgrnd.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    /* background-size: 100% 100%; */    
}

/* for smooth scrolling  */
html {
    scroll-behavior: smooth;
}

/* for grid view */

/* Naming Grid Items */
#nav { grid-area: navbar; }
#nav1 { grid-area: navbar1; }
#login { grid-area: login; }


#gridContainer {
    display: grid;
    grid-template-areas: 'navbar navbar' 'navbar1 navbar2' 'login login';
}
 /* CSS for 1st div */
#nav{
position: fixed;
display: flex;
align-content: center;
justify-content: center;
height: 6%;
width: 100%;
background-color: black;
/* border: 1px solid red; */
}
#logo{  
filter: invert(100%); 
/* border: 1px solid red;    */
}
.menu{
text-decoration: none;
color: white;
font-size: 2.8vw;
padding: 10px 7px;
/* border: 1px solid red; */
}
#search{
    font-size: 10px;
}

/* CSS for 2nd div */
#nav1{
    /* text-align: center; */   
    width: 100%;
    height: 5%;
    padding: 0px 5px;    
    margin-top: 30px;
    display: flex;
    position: fixed;
    background-color: rgb(231, 229, 229);
    /* border: 1px solid red; */
}
#right{  
    margin: 1px 0px 0px 50px;
}
#appleId{
    align-items: center;
    font-size: 4vw;
    padding: 5px 15px;
    /* border: 1px solid red; */
}
.menu1{  
    font-size: 3vw;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    color: black;
    /* border: 1px solid red; */
}

/* CSS for login div */
#login{
    color: rgb(9, 3, 24);
    text-align: center;
    margin: 200px 0px;
    line-height: 2;
    /* border: 1px solid red; */
}
#appleID1{
    font-size: 7vw;
}
#manage{
    font-size: 5vw;
}
/* #input1{
    width: 60%;
padding: 5px;
}
#input2{
    position: relative;
}
#input2 i{
    position: absolute;
margin: 8px 2px 2px 140px;
}
#inputField{
    width: 60%;
padding: 5px;
} */
#input2{
    position: relative;
}
#input2 i{
    position: absolute;
margin: 8px 2px 2px 140px;
}

#remember{
    font-size: 4vw;
}
#forget{
    font-size: 3vw;
}